@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 20, 79, 147;
  --background-end-rgb: 252, 176, 64;
  --background-blanc-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
 
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 main {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#ecorientation {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-blanc-rgb))
    )
    rgb(var(--background-start-rgb));
}


#navbar{
transition-timing-function: ease-in;
transition: 0.8s;
}

.navbar {
  position: relative;
  z-index: 999;
  height: 140px;
  width: 100%;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
}

.active {
  color:#144f93;
}

.omar {
background-image:url("/omar.jpg");
}
